<div class="grid h-screen place-items-center">

    <div class="w-full h-screen bg-white px-10 py-10 content-center">
    <div class="flex justify-between border-b pb-8">
        <h2 class="font-semibold text-2xl">Total Cost: $<%= @cart.total %></h2>
	<%= form_with(url: cart_checkout_path) do |f| %>
	    <%= f.button "Checkout", data: {turbo: false}, type: "submit", class: "rounded-full bg-green-200 px-2 py-2" %>
	<% end %>
    </div>
    <% @cart.orderables.each do |orderable| %>
        <% product = orderable.product %>
        <div class="" id="<%= "cart-#{product.id}" %>">
	    <div class="flex  flex-wrap justify-between hover:bg-gray-100 -mx-8 px-6 py-5">

		<div class="flex">

		    <div class="">
			<h3 class="font-semibold text-gray-600 text-xs uppercase w-2/5">Product Details</h3>

			<%= link_to image_tag(product.pic, style:"width:100px; height:100px"), class: "w-full"  %>
			</div>
			<div class="flex flex-col justify-between ml-4 flex-grow">
			    <span class="font-bold text-sm"><%=product.name%></span>
			    <span class="text-red-500 text-xs"><%=product.desc%></span>
			    <span class="text-sm">Unit price: $<%=product.price%></span>
			    <%= form_with(url: cart_remove_path) do |f| %>
				<%= f.hidden_field :id, value: orderable.id %>
				<%= f.submit "Remove", class: "rounded-full bg-red-200 px-1 py-1" %>
			    <% end %>
			</div>
		    </div>
		    
		    <div class="flex flex-col justify-between"> <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Quantity</h3>

			<div class="flex flex-col justify-center">

			    <%= form_with(url: cart_update_path,  html: {class: "flex flex-col justify-bewteen gap-4"}) do |f| %>
				<%= f.hidden_field :id, value: product.id %>
				<%= f.number_field :quantity, value: orderable.quantity, min: 0, max: 10 , class: "w-1/2"%>
				<%= f.submit "edit", class: "rounded-full bg-blue-200 px-3 py-3" %>
			    <% end %>

			</div>
		    </div>

		    <div>          <h3 class="font-semibold text-center text-gray-600 text-xs uppercase w-1/5 text-center">Price</h3>

			<span class="text-center w-1/5 font-semibold text-sm">$<%=orderable.total%></span>
		    </div>
		</div>
        <% end %>
	    </div>
    </div>
</div>
